n8n/workflows/My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0e1dbdb9-9430-4ceb-88e6-f0b7a79f0b93",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AF0jdf7edz6F2oDRJe9lrLap962lLF4vdC-Z_Nr3uPE",
          "mode": "list",
          "cachedResultName": "n8n Dummy Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AF0jdf7edz6F2oDRJe9lrLap962lLF4vdC-Z_Nr3uPE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AF0jdf7edz6F2oDRJe9lrLap962lLF4vdC-Z_Nr3uPE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        208,
        0
      ],
      "id": "8cd7ae40-885a-4f71-801c-d870670f77cb",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TWwIfKkGu30VvV1c",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da295755-685e-4a22-b89f-988b8623b491",
              "name": "full_name",
              "value": "={{ $json.first_name }} {{ $json.last_name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        0
      ],
      "id": "23e30169-47ba-4bce-93ad-1de91b87f829",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ecf180fe-4fd6-40f3-a2e8-b6e430a1faf6",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "3afa4461-2232-41d2-8729-19335b486d7f",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d27b20f6-8c55-4e08-b69e-65735915bf94",
              "leftValue": "={{ $json.email }}",
              "rightValue": "@gmail",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "0868c19b-1e51-41b1-9072-510a1d404459",
              "leftValue": "={{ $json.email }}",
              "rightValue": "@hotmail",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        0
      ],
      "id": "041aa88a-3a10-419e-a98d-b39c18cba8b3",
      "name": "If"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "email"
            },
            {
              "fieldToAggregate": "full_name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1104,
        -208
      ],
      "id": "61e288c5-c31d-496d-af03-f04d85039f7a",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1AF0jdf7edz6F2oDRJe9lrLap962lLF4vdC-Z_Nr3uPE",
          "mode": "list",
          "cachedResultName": "n8n Dummy Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AF0jdf7edz6F2oDRJe9lrLap962lLF4vdC-Z_Nr3uPE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 133748228,
          "mode": "list",
          "cachedResultName": "N8N_result",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AF0jdf7edz6F2oDRJe9lrLap962lLF4vdC-Z_Nr3uPE/edit#gid=133748228"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1312,
        -208
      ],
      "id": "cfd55e1d-6be8-43d4-9a28-2247f059092f",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TWwIfKkGu30VvV1c",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}