make/workflows/Automated AI video creation.blueprint.json
{
    "name": "Automated AI video creation",
    "flow": [
        {
            "id": 1,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://www.deckofcardsapi.com/api/deck/new/shuffle/?deck_count=1",
                "gzip": true,
                "method": "get",
                "headers": [],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "Shuffle deck of cards"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://www.deckofcardsapi.com/api/deck/{{1.data.deck_id}}/draw/?count=10",
                "gzip": true,
                "method": "get",
                "headers": [],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": false,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "Draw 10 cards from the deck"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{2.data}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "JSON Parse deck response"
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "cardArray",
                "scope": "roundtrip",
                "value": "{{4.cards}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "Cards array"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "cardArray",
                        "type": "any",
                        "label": "cardArray"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{3.cardArray}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0,
                    "name": "Iterate through cards"
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "cardImageArray",
                        "value": "{{5.image}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0,
                    "name": "Card image array"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "cardImageArray",
                        "type": "any",
                        "label": "cardImageArray"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 5,
                "rowSeparator": ""
            },
            "mapper": {
                "value": ""
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0,
                    "name": "Stop iteration"
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Iterate through cards [5]"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ]
            }
        },
        {
            "id": 21,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "Audio URL",
                "scope": "roundtrip",
                "value": "https://drive.google.com/uc?export=download&id=17DrfqKh2hfBxe2KZ7bT784m0Vj66LO37"
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0,
                    "name": "Audio URL"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "Audio URL",
                        "label": "Audio URL",
                        "type": "any"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "json2video:createSlideshowWithAudio",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 11180779
            },
            "mapper": {
                "resolution": "custom",
                "slides": [
                    {
                        "type": "image",
                        "url": "{{3.cardArray[1].image}}",
                        "zoom": "2",
                        "duration": "3"
                    },
                    {
                        "type": "image",
                        "url": "{{3.cardArray[2].image}}",
                        "zoom": "-2",
                        "duration": "2"
                    },
                    {
                        "type": "image",
                        "url": "{{3.cardArray[3].image}}",
                        "zoom": "2",
                        "duration": "2"
                    },
                    {
                        "type": "image",
                        "url": "{{3.cardArray[4].image}}",
                        "zoom": "-2",
                        "duration": "2"
                    },
                    {
                        "type": "image",
                        "url": "{{3.cardArray[5].image}}",
                        "zoom": "2",
                        "duration": "2"
                    },
                    {
                        "type": "image",
                        "url": "{{3.cardArray[6].image}}",
                        "zoom": "-2",
                        "duration": "2"
                    },
                    {
                        "type": "image",
                        "url": "{{3.cardArray[7].image}}",
                        "zoom": "-2",
                        "duration": "2"
                    }
                ],
                "width": "226",
                "height": "314"
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0,
                    "name": "Create vertical video using cards image"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My JSON2Video connection (notguy47@gmail.com - admin)",
                            "data": {
                                "scoped": "true",
                                "connection": "json2video"
                            }
                        }
                    },
                    "expect": {
                        "resolution": {
                            "mode": "chose",
                            "label": "Custom size"
                        },
                        "slides": {
                            "mode": "chose",
                            "items": [
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "image"
                                    },
                                    "zoom": {
                                        "mode": "chose",
                                        "label": "Zoom in"
                                    }
                                },
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "image"
                                    },
                                    "zoom": {
                                        "mode": "chose",
                                        "label": "Zoom out"
                                    }
                                },
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "image"
                                    },
                                    "zoom": {
                                        "mode": "chose",
                                        "label": "Zoom in"
                                    }
                                },
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "image"
                                    },
                                    "zoom": {
                                        "mode": "chose",
                                        "label": "Zoom out"
                                    }
                                },
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "image"
                                    },
                                    "zoom": {
                                        "mode": "chose",
                                        "label": "Zoom in"
                                    }
                                },
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "image"
                                    },
                                    "zoom": {
                                        "mode": "chose",
                                        "label": "Zoom out"
                                    }
                                },
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "image"
                                    },
                                    "zoom": {
                                        "mode": "chose",
                                        "label": "Zoom out"
                                    }
                                }
                            ]
                        },
                        "client_data": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:json2video",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "resolution",
                        "type": "select",
                        "label": "Output video resolution",
                        "validate": {
                            "enum": [
                                "full-hd",
                                "instagram-story",
                                "squared",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "slides",
                        "type": "array",
                        "label": "Slides",
                        "spec": [
                            {
                                "name": "type",
                                "label": "Type",
                                "type": "select",
                                "options": [
                                    {
                                        "label": "image",
                                        "value": "image"
                                    },
                                    {
                                        "label": "video",
                                        "value": "video"
                                    }
                                ],
                                "validate": false,
                                "dynamic": true
                            },
                            {
                                "name": "url",
                                "label": "Url",
                                "type": "text"
                            },
                            {
                                "name": "zoom",
                                "label": "Zoom",
                                "type": "select",
                                "options": [
                                    {
                                        "label": "Zoom out",
                                        "value": "-2"
                                    },
                                    {
                                        "label": "No zoom",
                                        "value": "0"
                                    },
                                    {
                                        "label": "Zoom in",
                                        "value": "2"
                                    }
                                ],
                                "validate": false,
                                "dynamic": true
                            },
                            {
                                "name": "duration",
                                "label": "Duration",
                                "type": "number"
                            }
                        ]
                    },
                    {
                        "name": "background_audio",
                        "type": "text",
                        "label": "Background audio"
                    },
                    {
                        "name": "make_webhook_url",
                        "type": "text",
                        "label": "Webhook URL"
                    },
                    {
                        "name": "client_data",
                        "type": "array",
                        "label": "Client data",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ]
                    },
                    {
                        "name": "width",
                        "type": "integer",
                        "label": "Width"
                    },
                    {
                        "name": "height",
                        "type": "integer",
                        "label": "Height"
                    }
                ]
            }
        },
        {
            "id": 14,
            "module": "json2video:waitForAMovieToRender",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 11180779
            },
            "mapper": {
                "project": "{{12.project}}"
            },
            "metadata": {
                "designer": {
                    "x": 2700,
                    "y": 0,
                    "name": "Wait for video to render"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "json2video"
                            },
                            "label": "My JSON2Video connection (notguy47@gmail.com - admin)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:json2video",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "project",
                        "type": "text",
                        "label": "Project ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 22,
            "module": "json2video:addAutomaticSubtitlesFromAudio",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 11180779
            },
            "mapper": {
                "resolution": "instagram-story",
                "video_url": "{{14.movie.url}}",
                "resize": "none",
                "mute_video": false,
                "audio_url": "{{21.`Audio URL`}}",
                "voice_language": "en"
            },
            "metadata": {
                "designer": {
                    "x": 3000,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My JSON2Video connection (notguy47@gmail.com - admin)",
                            "data": {
                                "scoped": "true",
                                "connection": "json2video"
                            }
                        }
                    },
                    "expect": {
                        "resolution": {
                            "mode": "chose",
                            "label": "1080x1920 - Vertical"
                        },
                        "resize": {
                            "mode": "chose",
                            "label": "Do not resize"
                        },
                        "mute_video": {
                            "mode": "chose"
                        },
                        "voice_language": {
                            "mode": "chose",
                            "label": "English"
                        },
                        "transcription_model": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "trim_video": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "position": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "client_data": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:json2video",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "resolution",
                        "type": "select",
                        "label": "Output video resolution",
                        "validate": {
                            "enum": [
                                "full-hd",
                                "instagram-story",
                                "squared",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "video_url",
                        "type": "text",
                        "label": "Video url"
                    },
                    {
                        "name": "resize",
                        "type": "select",
                        "label": "Resize",
                        "validate": {
                            "enum": [
                                "none",
                                "fill",
                                "fit"
                            ]
                        }
                    },
                    {
                        "name": "mute_video",
                        "type": "boolean",
                        "label": "Mute video"
                    },
                    {
                        "name": "audio_url",
                        "type": "text",
                        "label": "Audio url"
                    },
                    {
                        "name": "voice_language",
                        "type": "select",
                        "label": "Voice language",
                        "validate": {
                            "enum": [
                                "auto",
                                "en",
                                "ca",
                                "zh",
                                "zh-TW",
                                "da",
                                "nl",
                                "fr",
                                "fi",
                                "de",
                                "el",
                                "hi",
                                "hi-Latn",
                                "id",
                                "it",
                                "ja",
                                "ko",
                                "ms",
                                "pt",
                                "pt-BR",
                                "ru",
                                "es",
                                "es-419",
                                "sv",
                                "th",
                                "tr",
                                "uk",
                                "vi"
                            ]
                        }
                    },
                    {
                        "name": "transcription_model",
                        "type": "select",
                        "label": "Transcription model",
                        "validate": {
                            "enum": [
                                "default",
                                "whisper"
                            ]
                        }
                    },
                    {
                        "name": "trim_video",
                        "type": "select",
                        "label": "Trim video",
                        "validate": {
                            "enum": [
                                "-2",
                                "-1"
                            ]
                        }
                    },
                    {
                        "name": "font_family",
                        "type": "text",
                        "label": "Font family"
                    },
                    {
                        "name": "font_url",
                        "type": "text",
                        "label": "Font url"
                    },
                    {
                        "name": "font_size",
                        "type": "number",
                        "label": "Font size"
                    },
                    {
                        "name": "word_color",
                        "type": "text",
                        "label": "Word color"
                    },
                    {
                        "name": "line_color",
                        "type": "text",
                        "label": "Line color"
                    },
                    {
                        "name": "outline_width",
                        "type": "number",
                        "label": "Outline width"
                    },
                    {
                        "name": "position",
                        "type": "select",
                        "label": "Position",
                        "validate": {
                            "enum": [
                                "top-left",
                                "top-center",
                                "top-right",
                                "center-left",
                                "center-center",
                                "center-right",
                                "bottom-left",
                                "bottom-center",
                                "bottom-right",
                                "mid-bottom-center",
                                "mid-top-center"
                            ]
                        }
                    },
                    {
                        "name": "make_webhook_url",
                        "type": "text",
                        "label": "Webhook URL"
                    },
                    {
                        "name": "client_data",
                        "type": "array",
                        "label": "Client data",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 23,
            "module": "json2video:waitForAMovieToRender",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 11180779
            },
            "mapper": {
                "project": "{{22.project}}"
            },
            "metadata": {
                "designer": {
                    "x": 3300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My JSON2Video connection (notguy47@gmail.com - admin)",
                            "data": {
                                "scoped": "true",
                                "connection": "json2video"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:json2video",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "project",
                        "type": "text",
                        "label": "Project ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 17,
            "module": "http:ActionGetFile",
            "version": 3,
            "parameters": {
                "handleErrors": false
            },
            "mapper": {
                "url": "{{23.movie.url}}",
                "serializeUrl": false,
                "method": "get",
                "shareCookies": false
            },
            "metadata": {
                "designer": {
                    "x": 3600,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "hidden",
                        "label": "Method"
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 18,
            "module": "google-drive:uploadAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 11343058
            },
            "mapper": {
                "select": "value",
                "filename": "{{timestamp}}{{17.fileName}}",
                "data": "{{17.data}}",
                "convert": false,
                "destination": "drive",
                "folderId": "/1xaIAzaeyarNMZz3C7jkCoo2zwl9O2-ze/14DnCcm-pTG80AvIoJhsnG_ce07N2YSSz"
            },
            "metadata": {
                "designer": {
                    "x": 3900,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "student account (mooyebadejo@student.oauife.edu.ng)",
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Select from the list"
                        },
                        "destination": {
                            "label": "My Drive"
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "Make.com data",
                                "results"
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Folder ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "New File Name"
                    },
                    {
                        "name": "filename",
                        "type": "text",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "convert",
                        "type": "boolean",
                        "label": "Convert a File",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Folder Location",
                        "required": true
                    }
                ],
                "advanced": true
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}